<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/style.default.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/artDialog4.1.7/skins/default.css")" rel="stylesheet" type="text/css"/>
    <script src="@Url.Content("~/Scripts/plugins/jquery-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/jquery.cookie.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/jquery.uniform.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/jquery.flot.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/jquery.flot.resize.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/jquery.slimscroll.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/artDialog4.1.7/jquery.artDialog.source.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/artDialog4.1.7/plugins/iframeTools.source.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/custom/general.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var dialog;
        function userInfo() {
            dialog = art.dialog.open("/User/MyInfo", {
                title: '用户信息',
                height: 220,
                width: 400,
                lock: true
            });
        }
        function changePassword() {
            dialog = art.dialog.open("/User/MyPassword", {
                title: '修改密码',
                height: 280,
                width: 400,
                lock: true
            });
        }
        function logout() {
            window.top.art.dialog({
                title: '提示',
                content: '你确定要退出系统吗?',
                icon: 'warning',
                lock: true,
                ok: function () {
                    window.location.href = "/Home/Logout";
                },
                cancel: true
            });
        }
    </script>
     @RenderSection("Head_Code",false)
</head>
<body class="withvernav">
    <div class="bodywrapper">
        <div class="topheader">
            <div class="left">
                <h1 class="logo">
                    @(YW.Manage.BLL.Authorize.GetProject().Name)<span>后台管理系统</span></h1>
                <br clear="all" />
            </div>
            <!--left-->
            <div class="right">
                <!--<div class="notification">
                        <a class="count" href="ajax/notifications.html"><span>9</span></a>
                    </div>-->
                <div class="userinfo">
                    <span>@(YW.Manage.BLL.Authorize.GetUser().DealerUser.UserType == 1 ? "普通用户" : "管理员")</span>
                </div>
                <!--userinfo-->
                <div class="userinfodrop">
                    <!--avatar-->
                    <div class="userdata">
                        <h5>@(YW.Manage.BLL.Authorize.GetUser().Dealer.Name)</h5>
                        <span class="email">@(YW.Manage.BLL.Authorize.GetUser().DealerUser.Name)</span>
                        <ul>
                            <li><a href="#" onclick="userInfo();">个人资料</a></li>
                            <li><a href="#" onclick="changePassword();">修改密码</a></li>
                            <li><a href="#" onclick="logout();">退出登陆</a></li>
                        </ul>
                    </div>
                    <!--userdata-->
                </div>
                <!--userinfodrop-->
            </div>
            <!--right-->
        </div>
        <!--topheader-->
        <div class="header">
            <ul class="headermenu">
                 <li class="@(ViewBag.Module==1?"current":"")"><a href="/"><span class="icon icon-flatscreen"></span>设备管理</a></li>
                 @if (YW.Manage.BLL.Authorize.GetUser().DealerUser.UserType > 1)
                 {
                     <li class="@(ViewBag.Module == 2 ? "current" : "")"><a href="/User/"><span class="icon icon-user"></span>用户管理</a></li>
                 }
                 @if (YW.Manage.BLL.Authorize.GetUser().Dealer.DealerType > 1 && YW.Manage.BLL.Authorize.GetUser().DealerUser.UserType > 1)
                  {
                      <li class="@(ViewBag.Module == 3 ? "current" : "")"><a href="/Dealer/"><span class="icon icon-pencil"></span>经销商管理</a></li>
                  }
                <li class="@(ViewBag.Module==4?"current":"")"><a href="#"><span class="icon icon-chart"></span>统计报表</a></li>
                  @if (YW.Manage.BLL.Authorize.GetUser().Dealer.DealerType >= 3 && YW.Manage.BLL.Authorize.GetUser().DealerUser.UserType > 1)
                  {
                      <li class="@(ViewBag.Module == 5 ? "current" : "")"><a href="/System/"><span class="icon icon-settings"></span>系统管理</a></li>
                  }
                  
            </ul>
            <div class="headerwidget">
                <div class="earnings">
                    <div class="one_half">
                        <h4>
                            总计</h4>
                        <h4>
                            激活</h4>
                        <h4>
                            绑定</h4>
                    </div>
                    <!--one_half-->
                    <div class="one_half last alignright">
                        <h4>
                            @(ViewBag.Count.Total)</h4>
                        <h4>
                            @(ViewBag.Count.Active)</h4>
                        <h4>
                            @(ViewBag.Count.Binding)</h4>
                    </div>
                    <!--one_half last-->
                </div>
                <!--earnings-->
            </div>
            <!--headerwidget-->
        </div>
        <!--header-->
        @RenderBody()
    </div>
    <!--bodywrapper-->
</body>
</html>
